@import "tailwindcss";

@theme {
  --font-sans: var(--font-comfortaa);
}

:root {
  --BG-Primary: #151515;
}

body {
  font-family: var(--font-comfortaa), sans-serif;
  background: var(--BG-Primary);
  color: white;
}